@import url('bootstrap5.css');

:focus
{
	box-shadow: none !important;
}

body, input, textarea, select, option
{
	background: black !important;
}

input, textarea
{
	background: none !important;
	border: 2px solid white !important;
}

select
{
	background: black !important;
	border: 2px solid white !important;
}

option:hover, option:active
{
	border-left: 2px solid white !important;
}

option:checked
{
	border-bottom: 2px solid white !important;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1, h2, a, a:hover, a:active, a:visited, p, b, label, span, input, textarea, select, option
{
	color: white;
}

input::placeholder
{
	color: white !important;
}

.action-button
{
	margin-right: 4px !important;
	margin-bottom: 8px !important;
	padding: 10px 16px !important;
}

.btn-primary, .btn-secondary
{
	font-weight: bold;
	background: transparent !important;
	--bs-btn-border-color: none !important;
}

.btn-primary
{
	box-shadow: inset 0px 0px 0px 2px white !important;
}

.btn-secondary
{
	box-shadow: inset 0px 0px 0px 2px white !important;
}

.btn-primary:hover
{
	box-shadow: inset 0px 0px 0px 4px white !important;
}

.btn-primary:active
{
	box-shadow: inset 0px 0px 0px 6px white !important;
}

.btn-secondary:hover
{
	box-shadow: inset 0px 0px 0px 3px white !important;
}

.btn-secondary:active
{
	box-shadow: inset 0px 0px 0px 4px white !important;
}

.form-control
{
	color: white !important;
}

.form-check
{
	color: white !important;
}

.form-check-input:checked
{
	background-color: white !important; 
	border: 4px solid black !important;
	outline: 2px solid white !important;
}

.json-editor-opt-in
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 3px !important;
}

.json-editor-opt-in:checked
{
	background-color: white !important;
	border: 4px solid black !important;
}

.card
{
	background: black !important;
	border: 2px solid white;
	--bs-card-border-color: none !important;
}

.ms-3
{
	color: white !important;
}

.je-modal, .property-selector
{
	background: black !important;
}

.je-modal
{
	border: 2px solid white !important;
	border-radius: 6px;
}

.ace_editor
{
	border: 2px solid white !important;
	border-radius: 6px !important;
}

.ace_gutter, .ace_content, .ace_active-layer
{
	background-color: black !important;
}

.ace_gutter
{
	border-right: 1px solid white !important;
}

.ace_active-layer
{
	border-bottom: 2px solid white !important;
}
