@import url('bootstrap5.css');

:focus
{
	box-shadow: none !important;
}

body, input, textarea, select, option
{
	background: black !important;
}

input, textarea
{
	background: none !important;
	border: 2px solid white !important;
}

select
{
	background: black !important;
	border: 2px solid white !important;
}

option:hover, option:active
{
	border-left: 2px solid white !important;
}

option:checked
{
	border-bottom: 2px solid white !important;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1, h2, a, a:hover, a:active, a:visited, p, b, label, span, input, textarea, select, option
{
	color: white;
}

button
{
	color: white !important;
	padding: 6px 12px !important;
	background: black !important;
	border: none !important;
	box-shadow: inset 0 0 0 2px white !important;
}

button:hover
{
	box-shadow: inset 0 0 0 3px white !important;
}

button:active
{
	box-shadow: inset 0 0 0 4px white !important;
}

input::placeholder
{
	color: white !important;
}

input[type="checkbox"]
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	background-color: black !important;
	border-radius: 3px !important;
}

input[type="checkbox"]:checked
{
	background-color: white !important;
	border: 4px solid black !important;
	outline: 2px solid white;
}

input[type="number"]
{
	padding: 4px !important;
}

#message
{
	color: white;
	background: black;
	border: white solid 2px;
}

#expanded-textarea textarea
{
	background: black !important;
}

#ace_settingsmenu
{
	color: white !important;
	background: black !important;
	border-left: 2px solid white !important;
	box-shadow: none !important;
}

.action-button
{
	margin-right: 4px !important;
	margin-bottom: 8px !important;
	padding: 10px 16px !important;
}

.image-button
{
	background: black !important;
}

.btn-primary, .btn-secondary
{
	font-weight: bold;
	background: transparent;
	--bs-btn-border-color: none !important;
}

.btn-primary
{
	box-shadow: inset 0 0 0 2px white !important;
}

.btn-secondary
{
	box-shadow: inset 0 0 0 2px white !important;
}

.btn-primary:hover
{
	box-shadow: inset 0 0 0 4px white !important;
}

.btn-primary:active
{
	box-shadow: inset 0 0 0 6px white !important;
}

.btn-secondary:hover
{
	box-shadow: inset 0 0 0 3px white !important;
}

.btn-secondary:active
{
	box-shadow: inset 0 0 0 4px white !important;
}

.form-control
{
	color: white !important;
}

.form-check
{
	color: white !important;
}

.form-check-input:checked
{
	background-color: white !important; 
	border: 4px solid black !important;
	outline: 2px solid white !important;
}

.json-editor-opt-in
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 3px !important;
}

.json-editor-opt-in:checked
{
	background-color: white !important;
	border: 4px solid black !important;
}

.card
{
	background: black !important;
	border: 2px solid white;
	--bs-card-border-color: none !important;
}

.ms-3
{
	color: white !important;
}

.je-modal, .property-selector
{
	background: black !important;
}

.je-modal
{
	border: 2px solid white !important;
	border-radius: 6px;
}

.ace_editor
{
	border: 2px solid white !important;
	border-radius: 6px !important;
}

.ace_gutter, .ace_content
{
	background-color: black !important;
}

.ace_gutter
{
	color: white !important;
	border-right: 1px solid white !important;
}

.ace_optionsMenuEntry button[ace_selected_button="true"]
{
	border: none !important;
	box-shadow: inset 0 0 0 4px white !important;
}

.ace_prompt_container
{
	background: black !important;
	border: 2px solid white !important;
	box-shadow: none !important;
}

.ace-tm
{
	background: black !important;
	border: none !important;
}

.ace_autocomplete, .ace_search
{
	background: black !important;
	border: white solid 2px !important;
	border-radius: 4px !important;
}

.ace_autocomplete
{
	margin-left: -5px !important;
}

.ace_prompt_container .ace_active-line, .ace_prompt_container .ace_selected-word, .ace_prompt_container .ace_selection
{
	background: black !important;
	border: none !important;
}

.ace_button, .ace_mobile-button, .ace_prompt_container::placeholder
{
	color: white !important;
}

.ace-tm .ace_cursor
{
	color: white !important;
}

.ace_button, .ace_mobile-button
{
	color: white !important;
	background: black !important;
	box-shadow: inset 0 0 0 1px white !important;
}

.ace_button:hover, .ace_mobile-button:hover, .ace_searchbtn:hover
{
	background: black !important;
	box-shadow: inset 0 0 0 2px white !important;
}

.ace_button:active, .ace_mobile-button:active, .ace_searchbtn:active
{
	background: black !important;
	box-shadow: inset 0 0 0 3px white !important;
}

.ace_searchbtn
{
	color: #848484 !important;
	background: black !important;
	border: none !important;
	box-shadow: inset 0 0 0 1px white !important;
}

.ace_search_field
{
	color: white !important;
	caret-color: white !important;
	border: none !important;
	box-shadow: inset 0 0 0 1px white !important;
}

.ace_search_field::placeholder
{
	color: white !important;
}

.ace_search_counter
{
	color: white !important;
}

.ace_mobile-menu
{
	box-shadow: none !important;
}

.ace_tooltip
{
	color: white !important;
	background: black !important;
	border: 2px solid white !important;
	border-radius: 4px !important;
	box-shadow: none !important;
}
