@import url('bootstrap5.css');

:focus
{
	box-shadow: none !important;
}

body, input, textarea, select
{
	background: #161616 !important;
}

input, textarea, select
{
	background: #222222 !important;
	border: none !important;
}

option:checked
{
	background: #333333 !important;
}

h1, h2, a, a:visited, span, input, textarea, select, option
{
	color: white;
}

a:hover
{
	color: #cccccc !important;
}

a:active
{
	color: #888888 !important;
}

p, b, label
{
	color: #cccccc;
}

button:not(.jsoneditor-twbs5-text-button)
{
	color: white !important;
	padding: 6px 12px !important;
	background: #3d3d3d;
	border: none !important;
}

button:not(.jsoneditor-twbs5-text-button):hover
{
	background: #383838 !important;
}

button:not(.jsoneditor-twbs5-text-button):active
{
	background: #323232 !important;
}

input[type="checkbox"]
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 3px !important;
}

input[type="checkbox"]:checked
{
	background-color: white !important;
	border: 4px solid #555555 !important;
}

input[type="number"]
{
	padding: 4px !important;
}

#ace_settingsmenu
{
	color: white !important;
	background: #282828 !important;
	box-shadow: none !important;
}

.btn-primary, .btn-secondary
{
	--bs-btn-border-color: none !important;
}

.btn-primary
{
	background: #3d3d3d !important;
}

.btn-secondary
{
	background: #282828 !important;
}

.btn-primary:hover, .btn-primary:visited
{
	background: #383838 !important;
}

.btn-primary:active
{
	background: #323232 !important;
}

.btn-secondary:hover, .btn-secondary:visited
{
	background: #242424 !important;
}

.btn-secondary:active
{
	background: #202020 !important;
}

.form-control
{
	color: white !important;
}

.form-control:focus
{
	box-shadow: 0px 3px 0px #343434 !important;
}

.form-check
{
	color: white !important;
}

.form-check-input:checked
{
	background-color: #dddddd !important;
	border: 4px solid #555555 !important;
}

.json-editor-opt-in
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 3px !important;
}

.json-editor-opt-in:checked
{
	background-color: white !important;
	border: 4px solid #555555 !important;
}

.card
{
	background: #121212 !important;
	--bs-card-border-color: #222222 !important;
}

.ms-3
{
	color: #cccccc !important;
}

.je-modal, .property-selector
{
	background: #333333 !important;
}

.ace_optionsMenuEntry button[ace_selected_button="true"]
{
	background: #323232 !important;
	box-shadow: none !important;
}

.ace_prompt_container, .ace_prompt_container .ace-tm
{
	background: #222222 !important;
	box-shadow: none !important;
}

.ace-tm, .ace_autocomplete, .ace_search
{
	background: #282828 !important;
	border: none !important;
}

.ace_autocomplete
{
	margin-left: -3px !important;
}

.ace_prompt_container .ace_active-line, .ace_prompt_container .ace_selected-word, .ace_prompt_container .ace_selection
{
	background: #333333 !important;
	border: none !important;
}

.ace_button, .ace_mobile-button, .ace_prompt_container::placeholder
{
	color: white !important;
}

.ace-tm .ace_cursor
{
	color: #888888 !important;
}

.ace_button:hover, .ace_mobile-button:hover
{
	background: #242424 !important;
}

.ace_button:active, .ace_mobile-button:active
{
	background: #202020 !important;
}

.ace_searchbtn
{
	color: #848484 !important;
	background: #282828 !important;
	border-color: #333333 !important;
}

.ace_search_field
{
	color: white !important;
	caret-color: white !important;
}

.ace_search_field::placeholder
{
	color: #888888 !important;
}

.ace_search_counter
{
	color: #cccccc !important;
}

.ace_mobile-menu
{
	box-shadow: none !important;
}

.ace_tooltip
{
	color: white !important;
	background: #1c1c1c !important;
	border: none !important;
	border-radius: 4px !important;
	box-shadow: none !important;
}
