@import url('bootstrap5.css');

:focus
{
	box-shadow: none !important;
}

body, input, textarea, select
{
	background: #161616 !important;
}

input, textarea, select
{
	background: #222222 !important;
	border: none !important;
}

option:checked
{
	background: #333333 !important;
}

h1, h2, a, span, input, textarea, select, option
{
	color: white;
}

a:hover, a:visited
{
	color: #cccccc !important;
}

a:active
{
	color: #888888 !important;
}

p, b, label
{
	color: #cccccc;
}

.btn-primary, .btn-secondary
{
	--bs-btn-border-color: none !important;
}

.btn-primary
{
	background: #3d3d3d !important;
}

.btn-secondary
{
	background: #282828 !important;
}

.btn-primary:hover, .btn-primary:visited
{
	background: #383838 !important;
}

.btn-primary:active
{
	background: #323232 !important;
}

.btn-secondary:hover, .btn-secondary:visited
{
	background: #242424 !important;
}

.btn-secondary:active
{
	background: #202020 !important;
}

.form-control
{
	color: white !important;
}

.form-control:focus
{
	box-shadow: 0px 3px 0px #343434 !important;
}

.form-check
{
	color: white !important;
}

.form-check-input:checked
{
	background-color: #dddddd !important;
	border: 4px solid #555555 !important;
}

.json-editor-opt-in
{
	appearance: none !important;
	width: 16px !important;
	height: 16px !important;
	border-radius: 3px !important;
}

.json-editor-opt-in:checked
{
	background-color: white !important;
	border: 4px solid #555555 !important;
}

.card
{
	background: #121212 !important;
	--bs-card-border-color: #222222 !important;
}

.ms-3
{
	color: #cccccc !important;
}

.je-modal, .property-selector
{
	background: #333333 !important;
}
