@media screen and (min-width: 768px)
{
	#json-editor-form
	{
		zoom: 75%;
	}
}

label
{
	margin-bottom: 6px !important;
}

#main-div
{
	padding: 32px;
}

#schema-div
{
	margin-top: 24px;
}

#options-div
{
	margin-top: 32px;
}

.action-button
{
	margin-bottom: 8px;
	margin-right: 2px;
}

.toggle-button
{
	margin-top: -4px;
	margin-right: 4px;
}

.input-button
{
	width: 88px;
}

.url
{
	margin-bottom: 16px;
}
