@media screen and (min-width: 768px)
{
	#json-editor-form
	{
		zoom: 75%;
	}
}

a:has(button)
{
	text-decoration: none;
}

label
{
	margin-bottom: 6px !important;
}

#overlay
{
	display: flex;
	height: 100vh;
    width: 100vw;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 10;
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.3);
}

#qr-code-div
{
	max-width: 100%;
	margin: auto;
}

#qr-code-inner-div
{
	padding: 16px;
	background: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#qr-code
{
	width: 384px;
	max-width: 100%;
}

#main-div
{
	padding: 32px;
}

#editor-div
{
	margin-bottom: 0 !important;
}

#json-editor-form textarea
{
	field-sizing: content;
}

#schema-div, #options-div
{
	margin-top: 24px;
}

#ace_settingsmenu
{
	width: 75%;
	max-width: 512px;
}

.qr-code-compatible-div
{
	border-radius: 12px !important;
}

.action-button
{
	margin-bottom: 8px;
	margin-right: 2px;
}

.toggle-button
{
	margin-top: -4px;
	margin-right: 4px;
}

.input-button
{
	width: 88px;
}

.image-button
{
	width: 100%;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
}

.url
{
	margin-bottom: 16px;
}

.ace_optionsMenuEntry
{
	display: block !important;
	padding: 6px !important;
}

.ace_optionsMenuEntry > td
{
	display: inline-block !important;
	margin-left: 12px !important;
}

.ace_optionsMenuEntry input[type="checkbox"]
{
	margin-top: -6px !important;
	margin-right: 8px !important;	
}

.ace_prompt_container, .ace_autocomplete, .ace_search
{
	border-radius: 4px !important;
}

.ace_mobile-button
{
	padding: 2px 4px !important;
}
