@media screen and (min-width: 768px)
{
	#json-editor-form
	{
		zoom: 75%;
	}
}

@keyframes fade-in
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
}

[hidden]
{
	display: none !important;
}

a:has(button)
{
	text-decoration: none;
}

label
{
	margin-bottom: 6px !important;
}

#message
{
	position: fixed;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	align-self: flex-end;
	z-index: 11;
	margin-bottom: 32px;
	padding: 6px 12px;
	border-radius: 6px;
}

#overlay
{
	display: flex;
	height: 100vh;
    width: 100vw;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 10;
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.3);
}

#qr-code-div
{
	max-width: 100%;
	margin: auto;
}

#qr-code-inner-div
{
	padding: 16px;
	background: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#qr-code
{
	width: 384px;
	max-width: 100%;
}

#expanded-textarea-div
{
	margin: 64px;
	border-radius: 6px;
}

#expanded-textarea-path
{
	display: block;
	width: 100%;
	margin: 0;
	padding: 4px 12px;
	padding-bottom: 8px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#expanded-textarea
{
	width: 75vh;
	height: 50vh;
	min-width: 100%;
	min-height: 64px;
	max-width: calc(100vw - 128px);
	max-height: calc(100vh - 128px);
	resize: both;
	padding: 12px 16px;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#main-div
{
	padding: 32px;
}

#editor-div
{
	margin-bottom: 0 !important;
}

#json-editor-form textarea, #validate-textarea
{
	field-sizing: content;
}

#schema-div, #options-div
{
	margin-top: 24px;
}

#ace_settingsmenu
{
	width: 75%;
	max-width: 512px;
}

.fade-in, .fade-out
{
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

.fade-in
{
	animation-direction: normal;
}

.fade-out
{
	animation-direction: reverse;
}

.qr-code-compatible-div
{
	border-radius: 12px !important;
}

.action-button
{
	margin-bottom: 8px;
	margin-right: 2px;
}

.toggle-button
{
	margin-top: -4px;
	margin-right: 4px;
}

.toggle-errors-button
{
	margin-top: -10px;
	margin-right: 6px;
}

.input-button
{
	width: 88px;
}

.expand-button
{
	
}

.image-button
{
	width: 100%;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
}

.url
{
	margin-bottom: 16px;
}

.ace_optionsMenuEntry
{
	display: block !important;
	padding: 6px !important;
}

.ace_optionsMenuEntry > td
{
	display: inline-block !important;
	margin-left: 12px !important;
}

.ace_optionsMenuEntry input[type="checkbox"]
{
	margin-top: -6px !important;
	margin-right: 8px !important;	
}

.ace_prompt_container, .ace_autocomplete, .ace_search
{
	border-radius: 4px !important;
}

.ace_mobile-button
{
	padding: 2px 4px !important;
}
